@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Lobster&family=Parisienne&family=Playfair+Display&family=Quintessential&family=Redressed&family=Roboto+Slab:wght@100;300&family=Supermercado+One&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-image: url(https://www.publicdomainpictures.net/pictures/210000/t2/orange-wood-texture-wallpaper.jpg);
  font-family: 'Roboto Slab', serif;}

  h5{
  background-color: aliceblue !important ;
}
.welcomePage{
  margin-left: 15rem;
  margin-top: 7rem;
}
.backImage{
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
}

.btn-fild{
  width: 40rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 3rem;
}
@media (max-width:320px){
  .ImgStyle{
    margin-left: 3rem;
    max-width: 20rem;
    max-height: 15rem;
    margin-right: 3rem;
  }
  .btn-fild{
    display: flex;
    justify-content: center;
    align-items: center;
    font-display: column;
    flex-wrap: wrap;
  }

  .chosCurAns{
    margin-left: 2rem;
  }
}

@media (max-width:425px){
  
.btn-fild{
  display: flex;
  flex-wrap: wrap;
  width: 19rem;
}
}


.BorderBox{
  width: 50rem;
  height: 20rem;
  border: 1rem groove;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.btn-dark{
  width: 20rem;
  margin-top: 3rem;
}
.ImgStyle{
  height: 21rem;
  width: 30rem;
}

.BtnTogether{
margin:  1rem;
}
.TryagainBox{
  width: 50rem;
  height: 20rem;
  border: 8px solid white;
  display: flex;
  margin-left: 16rem;
  margin-top: 6rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* MEDIA QUERY OF FIRST PAGE */


@media screen and (max-width:1024px) {
  
  .welcomePage{
    margin-left: 7rem;
    margin-top: 4rem;
  }
  .TryagainBox{
    margin-left: 7rem;
  }
}
@media screen and (max-width:768px) {
  .welcomePage{
    margin-left: 4rem;
  }

  .TryagainBox{
    margin-left: 3rem;
    max-width: 42rem;
  }
}
@media screen and (max-width:375px) {
  .welcomePage{
    margin-left: 2rem;
  }
  .playaGain{
    margin-left: -1rem;
  }
}
@media screen and (max-width:320px) {
  .welcomePage{
    margin-left: -0.0rem;
  }
  .TryagainBox{
    width: 23rem;
    height: 20rem;
    border: 5px solid white;
    margin-top: 1rem;
  }
  .Chances{
    text-align: center;
  }
.playaGain{
  margin-left: 0.0rem;
}
  h4{
    text-align: center;
  }
}

@media screen and (max-width:768px) {
  .BorderBox{
    width: 40rem;
  }
}
@media screen and (max-width:425px) {
  html{
    font-size: 100%;
  }
  .BorderBox{
    width: 20rem;

  }
  .animalQGame{
    text-align: center;
  }

  .TryagainBox{
    margin-left: -1rem;
    max-width: 27.9rem;
  }
  h4{
    margin-left: 7rem;
    text-align: center;
  }
  .letsPlatBtn{
    width: 7rem;

  }
}

